@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Helvetica, Arial, sans-serif;

    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1b1c1e;
}

/* H E A D E R */

header {
    height: auto;
    padding: 10px;

    background: #392d69;
    background: linear-gradient(135deg, #392d69 0%, #b57bee 100%);
}

.titulo,
.sub_titulo {
    padding: 5px;
}

h1 {
    color: #fafafa;
    font-weight: 700;
    font-size: 2.8em;
    text-align: center;
    letter-spacing: 2px;
}

span {
    font-size: 3.2rem;
}

p {
    color: #fafafa;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

/* M A I N */
/* P E S S O A S */

.pessoa {
    padding: 5px;
}

h2 {
    color: #fafafa;
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 10px;
}

/* M A I N */
/* L I S T A */

li {
    padding: 5px;

    color: #fafafa;
    text-align: center;
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: 2px;
    list-style-type: none;
}

/* I M G */

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

/* I M G */
/* P O P - U P */

.escrito_botao {
    padding: 2.5px;
}

.escrito_botao>p {
    padding: 2.5px;
    font-size: 1em;

}

.popup {
    position: absolute;
    background: rgba(27, 28, 30, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-top: 1px solid rgba(255, 255, 255, 0.18);

    border: 3px solid #b47bee7e;
    border-radius: 25px;

    width: auto;
    height: auto;

    transition: all .4s;
    z-index: -1;
    transform: scale(.4);
    opacity: 0;
    padding: 15px;
}

.botoes {
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.popup-button,
.popup .close-popup-button {
    background-color: transparent;

    border: 3px solid #b47bee7e;
    border-radius: 50px;

    text-transform: uppercase;
    color: #fafafa;
    font-size: 1em;
    border-radius: 100%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .4s;

}

.popup-button:hover,
.popup .close-popup-button:hover {
    opacity: .8;
}

.popup-button:active,
.popup .close-popup-button:active {
    transform: scale(.8);
}

.popup.opened {
    z-index: 999;
    transform: scale(1);
    opacity: 1;
}

/* F O O T E R */

/* R E D O N D O */
/* footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 75px;

    position: fixed;
    bottom: 5px;
    left: 20%;
    right: 20%;

    background-color: #1b1c1e;
    border: 2px solid rgba(181, 123, 238, 1);
    border-radius: 50px;
} */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 80px;

    background: rgba(27, 28, 30, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}

footer>button {
    cursor: pointer;
    color: #fafafa;
    margin: 0 5px;

    background: rgba(27, 28, 30, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    border: 3px solid #b47bee7e;
    border-radius: 100%;

    color: #fafafa;
    font-size: x-large;
    font-weight: bold;
    text-align: center;

    width: 70px;
    height: 70px;
}
